body { background-image: url(/css/default-theme/pattern.png); }
.galaxy-display { background-image: url(/css/default-theme/galaxy-display.png); height: 670px; width: 620px; position: absolute; padding: 20px 0px 0px 20px; border-bottom: 2px solid #222; border-right: 2px solid #222; }
.viewport { background-image: url(/css/default-theme/screen-reflection.png); }
.panel p { padding-left: 30px; padding-right: 30px; }
.planet-info, .player-info { background-image: url(/css/default-theme/side-panel.png); }
